@model List<BoardGame>

@{
    ViewData["Title"] = "Board Games";
}

<h1>View Board Games!</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Company</th>
            <th>Players</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var boardgame in Model)
        {
            <tr>
                <td>
                    <img src="~/images/@boardgame.Image" alt="@boardgame.Name" title="@boardgame.Name" />
                </td>
                <td>@boardgame.Name</td>
                <td>@boardgame.Company</td>
                <td>@boardgame.Players</td>
                <td>@boardgame.Price.ToString("c")</td>
                <td>
                    <form method="post" asp-controller="BoardGame" asp-action="AddToCart">
                        <input type="hidden" name="id" value="@boardgame.ID" />
                        <label for="quantity_@boardgame.ID">Quantity:</label>
                        <input type="number" id="quantity_@boardgame.ID" name="quantity" value="1" min="1" />
                        <button type="submit">Add to Cart</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
